Django>=4.2,<5.0
django-widget-tweaks>=1.4.8
django-filter
debugpy>=1.8.0
django-auth-adfs
django-crispy-forms
python-dotenv
PyJWT
boto3
crispy-bootstrap5
PyPDF2>=3.0.0
reportlab>=3.6.0
whitenoise
gunicorn
psycopg[binary]
