{% extends "core/base_root.html" %}
{% block navbar_class %}bg-success{% endblock %}

{% block app_nav %}
<ul class="navbar-nav mx-auto d-flex align-items-center">
  <!-- Contacts -->
  <li class="nav-item d-flex align-items-center me-5">  <!-- Increased spacing -->
    <i class="fas fa-address-book fa-lg text-white me-2"></i>
    <a href="{% url 'contacts:list' %}" class="text-white text-decoration-none fw-bold {% if request.path == '/contacts/' %}text-warning{% endif %}">
      Contacts
    </a>
  </li>

  <!-- Lists -->
  <li class="nav-item d-flex align-items-center">
    <i class="fas fa-users fa-lg text-white me-2"></i>
    <a class="nav-link text-white text-decoration-none fw-bold {% if request.path == '/contacts/contactlists/' %}text-warning{% endif %}" href="{% url 'contacts:contactlist_list' %}">
      Lists
    </a>
  </li>
</ul>
{% endblock %}
