{% extends "contacts/base_contacts.html" %}

{% block content %}
<div class="container mt-4">
  <h2>{{ object.first_name }} {{ object.last_name }}</h2>
  <hr>

  <dl class="row">
    <dt class="col-sm-3">Job Title</dt>
    <dd class="col-sm-9">{{ object.job_title }}</dd>

    <dt class="col-sm-3">Phone Number</dt>
    <dd class="col-sm-9">{{ object.phone_number }}</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">{{ object.email }}</dd>

    <dt class="col-sm-3">Organization</dt>
    <dd class="col-sm-9">{{ object.organization }}</dd>

    <dt class="col-sm-3">Note</dt>
    <dd class="col-sm-9">{{ object.note|linebreaks }}</dd>

    <dt class="col-sm-3">Owner</dt>
    <dd class="col-sm-9">{{ object.owner }}</dd>
  </dl>

  <div class="mt-4">
    <a href="{% url 'contacts:update' object.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'contacts:delete' object.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'contacts:list' %}" class="btn btn-secondary">Back to list</a>
  </div>
</div>
{% endblock %}
